{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Baronhawk Poitier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% include 'components/head-links.html' %}
  </head>
  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"></script>
    <!-- Begin Site wrapper -->
    <div class="site-wrap">
      
      {% block content  %}

      {% endblock content %}
  
      {% include "components/footer.html" %}
    </div>
    <!-- End main container -->
    {% include "components/scripts.html" %}
  </body>
</html>